* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

span {
    padding-left: 20px;
    font-size: 11px;
    color: red;
}

label {
    margin-left: 20px;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #d87d56;
}

button:hover {
    cursor: pointer;
}

.App {
    margin: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.shoe {
    display: flex;
    flex-direction: column;
    background-color: #ededeb;
}

.shoe_photo img {
    background: no-repeat;
    width: 20rem;
    height: 20rem;
}

.shoe_title {
    padding: 8px 0px;
    background-color: #fff;
    line-height: 1.75em;
    font-size: 16px;
}

.shoe_title_type {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.shoe_title_info {
    color: #707072;
}

.shoe_title_price {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #d87d56;
    gap: 20px;
    margin: 30px;
}

.navbar a {
    color: #f69a73;
    font-weight: 600;
}

/* Add Form */

.add_shoes_page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f69a73;
}

.add_form {
    position: relative;
    min-width: 500px;
    margin: 30px auto;
    background: white;
    border-radius: 30px;
    
}

.add_form_left_decor,
.add_form_right_decor {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}

.add_form_left_decor {
    bottom: 60px;
    left: -30px;
}

.add_form_right_decor {
    top: 60px;
    right: -30px;
}

.add_form_left_decor:before,
.add_form_left_decor:after,
.add_form_right_decor:before,
.add_form_right_decor:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}

.add_form_left_decor::before {
    top: -20px;
}

.add_form_left_decor:after {
    top: 20px;
    left: 10px;
}

.add_form_right_decor:before {
    top: -20px;
}

.add_form_right_decor:after {
    top: 20px;
    right: 10px;
}

.add_form_circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.add_form_inner {
    padding: 50px;
    color: black;
}

.add_form_inner h3 {
    padding-bottom: 40px;
    margin: 10px;
    color: #707072;
    font-size: 24px;
    text-align: center;
}

.add_form_inner input,
textarea {
    display: block;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 10px;
    background: #e9e9f6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
}

.add_form_inner input::placeholder {
    font-size: 15px;
}

.add_form_inner button {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

/* Shoe Item by ID */

.shoe_item {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.shoe_item_photo {
    height: 35rem;
    width: 35rem;
}

.shoe_item_info {
    margin-bottom: 480px;
    margin-left: 40px;
}

.shoe_item_info_type {
    font-size: 24px;
    font-weight: 700;
}

.shoe_item_info_price {
    font-size: 20px;
    font-weight: 500;
}
